@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.content {
  padding: 16px;
}
.row {
  max-width: 100%;
  margin: 50px auto 0;
}
.card {
  width: 100%;
}
.card:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}
.card .wrapper {
  min-height: 400px;
  max-height: 475px;
  position: relative;
  overflow: hidden;
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
  background-color: gray;
  opacity: 55%;
}
.card .title {
  margin-top: 10px;
  font-size: 16px;
}
.cover .data {
  color: #fff;
}
.cover .title {
  color: #fff;
}


.anime {
	position: relative;
}
.description {
  position: absolute;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.anime:hover .description {
  opacity: .85;
}
.anime:hover .card .data .content {
  width: 0;
  height: 0;
  opacity: 0%;
}
.text {
  word-break: break-all;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
