<h1>Animes</h1>
<!--Buscar-->
<form>
  <div class="form-inline">
    <p>
      Titulo: <input class="form-control" type="text" name="buscar" #buscar>
      <button class="btn btn-success" type="submit">Buscar</button>
    </p>
  </div>
</form>
<!--agregar nuevo-->
<p>
  <a class="nav-link" [routerLink]="[ '/Anime', Agregar ]">Agregar nuevo</a>
</p>
<label *ngIf="apiAnime.errorMessage"><strong>Warning!</strong> {{apiAnime.errorMessage}}</label>
<div class="container">
  <!--mostrar datos-->
  <ng-container *ngIf="apiAnime.animes && apiAnime.animes.length > 0; else noHayAnimes">
    <div class="row">
      <div class="col-md-4 list-inline" *ngFor="let item of apiAnime.animes">
        <a [routerLink]="[ '/Anime', item.animeId ]">
          <!--movie-card-->
          <div class="movie-card">
            <div class="movie-header"
              style="background-size: cover; background-image:url(data:image/jpeg;base64,{{item.portada}});"></div>
            <!--movie-header-->
            <div class="movie-content">
              <div class="movie-content-header">
                <h3 class="movie-title">{{item.nombre}}</h3>
              </div>
              <div class="movie-info">
                <div class="info-section">
                  <ul>
                    <li>Episodios: {{item.numero_episodios}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <!--movie-content-->
          </div>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #noHayAnimes>
    <strong>No hay animes agregados aun.</strong>
  </ng-template>
  <!--paginador-->
  <div class="row">
    <div class="offset-3" *ngIf="apiAnime.paginador.paginaFinal > 1">
      <ul class="pagination">
        <ng-container *ngIf="apiAnime.paginador.paginaActual > 1; else noHayPaginaAnterior">
          <li class="page-item">
            <ng-template let-paginaAnterior="apiAnime.paginador.paginaActual - 1">
              <a class="page-link" [routerLink]="[ '/Animes', paginaAnterior ]">&#60;</a>
            </ng-template>
          </li>
        </ng-container>
        <ng-template #noHayPaginaAnterior>
          <li class="page-item">
            <a class="page-link" style="cursor:pointer">&#60;</a>
          </li>
        </ng-template>
        <li class="page-item" *ngIf="apiAnime.paginador.paginaActual > 6">
          <a class="page-link" [routerLink]="[ '/Animes', 1 ]">1</a>
          <span id="buscarPagina1" (click)="bucarPagina()" class="page-link">...</span>
        </li>
        <ng-container *ngFor="let numPagina of apiAnime.rangoPaginador">
          <li [ngClass]="{'active': numPagina === apiAnime.paginador.paginaActual, 'page-item': true}">
            <a class="page-link" [routerLink]="[ '/Index', numPagina ]">{{numPagina}}</a>
          </li>
        </ng-container>
        <ng-container *ngIf="apiAnime.paginador.paginaActual <= apiAnime.paginador.paginasTotales">
          <li class="page-item" *ngIf="apiAnime.paginador.paginaActual < apiAnime.paginador.paginaFinal">
            <span id="buscarPagina2" (click)="bucarPagina()" class="page-link">...</span>
          </li>
          <ng-container *ngIf="apiAnime.paginador.paginaActual === apiAnime.paginador.paginasTotales; else noEsLaPaginaFinal">
            <li class="page-item active">
              <a class="page-link" [routerLink]="[ '/Anime', apiAnime.paginador.paginasTotales ]">{{apiAnime.paginador.paginasTotales}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" style="cursor:pointer">&#62;</a>
            </li>
          </ng-container>
          <ng-template #noEsLaPaginaFinal>
            <li class="page-item">
              <a class="page-link" [routerLink]="[ '/Anime', apiAnime.paginador.paginasTotales ]">{{apiAnime.paginador.paginasTotales}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" [routerLink]="[ '/Anime', (apiAnime.paginador.paginaActual + 1) ]">&#62;</a>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </div>
    <br />
  </div>
</div>
