<h1>Animes</h1>
<!--Buscar-->
<div class="form-inline row">
  <mat-label>Titulo:</mat-label>
  <input matInput id="busqueda" name="busqueda" [(ngModel)]="busqueda" [placeholder]="placeholder()">
  <button mat-raised-button color="primary" (click)="buscarPagina(1)">Buscar</button>
</div>
<!--agregar nuevo-->
<p>
  <a class="nav-link" [routerLink]="[ '/Anime/Agregar' ]">Agregar nuevo</a>
</p>
<label *ngIf="errorMessage" class="text-danger"><strong>Warning!</strong> {{errorMessage}}</label>
<label *ngIf="buscado" class="text-center">Buscando con nombre parecido a <strong>{{buscado}}.</strong></label>
<div class="container">
  <!--mostrar datos-->
  <ng-container *ngIf="animes && animes.length > 0; else noHayAnimes">
    <div class="row">
      <div class="col-md-4 list-inline" *ngFor="let item of  animes">
        <a [routerLink]="[ '/Anime', item.animeId ]">
          <!--movie-card-->
          <div class="movie-card">
            <div class="movie-header"
              style="background-size: cover; background-image:url(data:image/jpeg;base64,{{item.portada}});"></div>
            <!--movie-header-->
            <div class="movie-content">
              <div class="movie-content-header">
                <h3 class="movie-title">{{item.nombre}}</h3>
              </div>
              <div class="movie-info">
                <div class="info-section">
                  <ul>
                    <li>Episodios: {{item.numero_episodios}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <!--movie-content-->
          </div>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #noHayAnimes>
    <strong>No hay animes agregados aun.</strong>
  </ng-template>
  <!--paginador-->
  <div class="row">
    <div class="offset-3" *ngIf="paginador.paginaFinal > 1">
      <ul class="pagination">
        <ng-container *ngIf="paginador.paginaActual > 1; else noHayPaginaAnterior">
          <li class="page-item">
            <a class="page-link" style="cursor:pointer" (click)="pagAnterior()">&#60;</a>
          </li>
        </ng-container>
        <ng-template #noHayPaginaAnterior>
          <li class="page-item">
            <a class="page-link">&#60;</a>
          </li>
        </ng-template>
        <li class="page-item" *ngIf="paginador.paginaActual > 6">
          <a class="page-link" (click)="buscarPagina(1)">1</a>
          <span id="buscarPagina1" style="cursor:pointer" (click)="irAPagina()" class="page-link">...</span>
        </li>
        <ng-container *ngFor="let numPagina of rangoPaginador">
          <li [ngClass]="{'active': numPagina ===  paginador.paginaActual, 'page-item': true}">
            <a class="page-link" style="cursor:pointer" (click)="buscarPagina(numPagina)">{{numPagina}}</a>
          </li>
        </ng-container>
        <ng-container *ngIf="paginador.paginaActual <= paginador.paginasTotales">
          <li class="page-item" *ngIf="paginador.paginaActual < (paginador.paginasTotales - 6)">
            <span id="buscarPagina2" style="cursor:pointer" (click)="irAPagina()" class="page-link">...</span>
          </li>
          <ng-container *ngIf="paginador.paginaActual === paginador.paginasTotales; else noEsLaPaginaFinal">
            <li class="page-item active">
              <a class="page-link" style="cursor:pointer"
                (click)="buscarPagina(paginador.paginasTotales)">{{paginador.paginasTotales}}</a>
            </li>
            <li class="page-item">
              <a class="page-link">&#62;</a>
            </li>
          </ng-container>
          <ng-template #noEsLaPaginaFinal>
            <li class="page-item">
              <a class="page-link" style="cursor:pointer"
                (click)="buscarPagina(paginador.paginasTotales)">{{paginador.paginasTotales}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" style="cursor:pointer" (click)="pagSiguiente()">&#62;</a>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </div>
    <br />
  </div>
</div>
