<ng-container *ngIf="errorMessage; else correct">
  <label class="mat-error"><strong>Warning!</strong>: {{errorMessage}}. </label>
</ng-container>
<ng-template #correct>
  <div class="container">
    <h2>Ultimos episodios agregados</h2>
    <ng-container *ngIf="cargando;else ultimosCaps">
      <div class="row">
        <div *ngFor="let item of [0,1,2]" class="col-md-4 list-inline">
          <mat-progress-spinner mode='indeterminate'></mat-progress-spinner>
          <span>Cargando...</span>
        </div>
      </div>
    </ng-container>
    <ng-template #ultimosCaps>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <ng-container *ngIf="homeAnimes.animeUltimos12EpsAgregados?.length > 0; else sinDatos1">
          <div *ngFor="let item of homeAnimes.animeUltimos12EpsAgregados" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
            <a [routerLink]="[ '/Anime-episodio', item.episodioId ]">
              <mat-card class="mat-elevation-z4 cardP">
                <img mat-card-image [src]="loadImage(item.anime_portada)">
                <mat-card-content>
                  <mat-label>{{ item.nombre_anime }} - {{ item.numero_episodio }}</mat-label>
                </mat-card-content>
              </mat-card>
            </a>
          </div>
        </ng-container>
      </div>
    </ng-template>
    <ng-template #sinDatos1>
      <label>No hay datos</label>
    </ng-template>
  </div>
  <div class="container">
    <h2>Ultimos animes agregados</h2>
    <ng-container *ngIf="cargando;else ultimosAnms">
      <div class="row">
        <div *ngFor="let item of [0,1,2]" class="col-md-4 list-inline">
          <mat-progress-spinner mode='indeterminate'></mat-progress-spinner>
          <span>Cargando...</span>
        </div>
      </div>
    </ng-container>
    <ng-template #ultimosAnms>
      <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
        <ng-container *ngIf="homeAnimes.ultimos9AnimesAgregados?.length > 0; else sinDatos2">
          <div class="anime" *ngFor="let item of homeAnimes.ultimos9AnimesAgregados" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <a [routerLink]="[ '/Anime', item.animeId ]">
              <div class="cover card">
                <div class="wrapper" [style.background]="'url(data:image/*;base64,' + item.portada + ') center/cover no-repeat'">
                  <div class="data">
                    <div class="content">
                      <h1 class="title">{{ item.nombre }}</h1>
                    </div>
                  </div>
                </div>
              </div>
              <div class="description">
                <div class="text">Sipnosis: <br>{{ item.descripcion }}</div>
              </div>
            </a>
          </div>
        </ng-container>
      </div>
    </ng-template>
    <ng-template #sinDatos2>
      <label>No hay datos</label>
    </ng-template>
  </div>
</ng-template>
