<ng-container *ngIf="errorMessage; else correct">
  <label class="mat-error"><strong>Warning!</strong>: {{errorMessage}}. </label>
</ng-container>
<ng-template #correct>
  <div class="container">
    <h2>Ultimos episodios agregados</h2>
    <ng-container *ngIf="cargando;else ultimosCaps">
      <div class="row">
        <div *ngFor="let item of [0,1,2]" class="col-md-4 list-inline">
          <mat-progress-spinner mode='indeterminate'></mat-progress-spinner>
          <span>Cargando...</span>
        </div>
      </div>
    </ng-container>
    <ng-template #ultimosCaps>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <ng-container *ngIf="homeAnimes.animeUltimos12EpsAgregados?.length > 0; else sinDatos1">
          <div *ngFor="let item of homeAnimes.animeUltimos12EpsAgregados" fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="33%">
            <a [routerLink]="[ '/Anime-episodio', item.episodioId ]">
              <div class="anime epcover" [style.background-image]="'url('+item.anime_portada+')'">
              </div>
              <div>
                <label>{{ item.nombre_anime }} - {{ item.numero_episodio }}</label>
              </div>
            </a>
          </div>
        </ng-container>
      </div>
    </ng-template>
    <ng-template #sinDatos1>
      <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="33%">
        <a [routerLink]="[]">
          <div class="anime epcover" [style.background-image]="'url(assets/images/13256276_708846179218313_8178008124451136419_n.jpg)'">
          </div>
          <div>
            <label class="text-center">Proximamente!!</label>
          </div>
        </a>
      </div>
    </ng-template>
  </div>
  <div class="container">
    <h2>Ultimos animes agregados</h2>
    <ng-container *ngIf="cargando;else ultimosAnms">
      <div class="row">
        <div *ngFor="let item of [0,1,2]" class="col-md-4 list-inline">
          <mat-progress-spinner mode='indeterminate'></mat-progress-spinner>
          <span>Cargando...</span>
        </div>
      </div>
    </ng-container>
    <ng-template #ultimosAnms>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <ng-container *ngIf="homeAnimes.ultimos9AnimesAgregados?.length > 0; else sinDatos2">
          <div *ngFor="let item of homeAnimes.ultimos9AnimesAgregados" fxFlex="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="50%">
            <a [routerLink]="[ '/Anime', item.animeId ]">
              <div class="anime ancover" [style.background-image]="'url(data:image/*;base64,' + item.portada + ')'">
                <div class="data">
                  <div class="content">
                    <h1 class="title">{{ item.nombre }}</h1>
                  </div>
                </div>
                <div class="description">
                  <div class="text"><strong>{{ item.nombre }}</strong><br>{{ item.descripcion }}</div>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
      </div>
    </ng-template>
    <ng-template #sinDatos2>
      <div fxFlex="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="50%">
        <a [routerLink]="[]">
          <div class="anime ancover" [style.background-image]="'url(assets/images/13256276_708846179218313_8178008124451136419_n.jpg)'">
            <div class="data">
              <div class="content">
                <h1 class="title">Proximamente</h1>
              </div>
            </div>
            <div class="description">
              <div class="text"><strong>Proximamente</strong><br>Aun no se a agregado contenido a esta seccion, por favor estate atento a nuevas actualizaciones!! :D</div>
            </div>
          </div>
        </a>
      </div>
    </ng-template>
  </div>
</ng-template>
